<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>To Do App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: white;
            font-family: sans-serif;
        }
        .Todo-Item:hover .trash-icon{
            display:block
        }
    </style>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('reload')) {
            // Remove the reload parameter from the URL
            urlParams.delete('reload');
            const newUrl = window.location.pathname + '?' + urlParams.toString();
            window.history.replaceState({}, document.title, newUrl); // Update the URL without reloading
            window.location.reload(); // Reload the page
        }
        var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");

        function updateTodo(id){
            fetch(`/todos/${id}/setCompletionStatus`,{
                method: "put",
                headers: {"Content-Type" :"application/json"  },
                body: JSON.stringify({ 
                    "_csrf":token
                })
            })
            .then((res)=> {
                if(res.ok)  window.location.reload();
            })
            .catch((err) => console.error(err));
        }
        
        function deleteTodo(id){
            fetch(`/todos/${id}`,{
                method: "delete",
                headers: {"Content-Type" :"application/json"  },
                body: JSON.stringify({ 
                    "_csrf":token
                })
            })
            .then((res)=> {
                if(res.ok)  window.location.reload();
            })
            .catch((err) => console.error(err));
        }
    </script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <% if (messages && messages.error && messages.error.length > 0) { %>
                <ul class="bg-red-300">
                    <% messages.error.forEach(function(message) { %>
                    <li class="text-red-600"><%= message %></li>
                    <% }); %>
                </ul>
            <% } %>

            <a href="/signout">Signout</a>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto ">
                        <input type="text"  name="title" placeholder="What's next?" required class="border border-gray text-green-600 rounded w-full text-sm p-2 leading-5">
                    </div>
                    <div class="flex-auto ">
                       <input type="date" name="dueDate" required class="border border-gray text-gray-900 rounded w-full text-sm p-2 leading-5"> 
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 p-2 text-sm rounded leading-5">Add</button>
                    </div>
                </div>
            </form>
  
    <div>
    <!-- <h2 style="color:brown">Todos :</h2> -->
    <%- include("todo.ejs",{title : "Overdue", data : Over_list ,count_id : "count-overdue"}) %>
    <%- include("todo.ejs",{title : "Due Today", data : Today_list ,count_id : "count-due-today"}) %>
    <%- include("todo.ejs",{title : "Due Later", data : Later_list ,count_id : "count-due-later"}) %>
    <%- include("todo.ejs",{title : "Completed Items", data : Completed_list ,count_id : "count-completed"}) %>
</div>
</body>
</html>